header {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;    
}

.container-header {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto ;
    position: fixed;
    top: 0;
    box-sizing: border-box;  
    padding: 1.3rem 0;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;  
}

.list-header{
    display: flex;
    gap: 3rem;
}

.list-header a {
    color: #808080;
    font-size: 1.2rem;
    position: relative;
}

.list-header a:hover {
    color: #fff;
    transition: .3s;
}

.list-header a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #00FF00;
    position: absolute;
    margin: .2rem;
    transition: .5s;
}

.list-header a:hover::after {
    width: 100%;
}


.contato {
    width: fit-content;
    background-color: #00FF00;
    color: #000;
    padding: .5rem 1.5rem ;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.contato:hover {
    background-color: #007904;
    transition: .3s;
}

@media (max-width: 769px){
    .container-header .contato{
        display: none;
    }
}

@media (max-width: 599px) {
    .container-header {
        flex-direction: column;
        gap: 1rem;
    }
}